@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing), url("mozilla.org") {
	/* 	Changes new tab to be custom
	 *	Makes the background an image
	 *	Make the firefox icon different
	 */

    .click-target-container *, .top-sites-list * {
        color: #fff !important ;
        text-shadow: 2px 2px 2px #222 !important ;
    }

    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background: #f9a no-repeat url(img/nebula15.jpg) center ;
        background-size: cover ;
        width: 100vw ;
        height: 100vh ;
    }
	
	.logo {
		background: url(img/firefoxmulti-2.png) no-repeat center !important ;
		background-image: url(img/firefoxmulti-2.png) !important ;
		background-color: rgba(0, 0, 0, 0) !important ;
		background-position-x: center !important ;
		background-position-y: center !important ;
		background-repeat: no-repeat !important ;
		background-attachment: scroll !important ;
		background-size: auto !important ;
		background-origin: padding-box !important ;
		background-clip: border-box !important ;
		background-size: 82px !important ;
	}
	
	.tile, .search-handoff-button, .top-site-outer:hover {
		background-color: transparent !important ;
	}
	
}
/*
	#endpoint, #center, #search, .ytd-searchbox, yt-chip-cloud-chip-renderer, a, tp-yt-paper-item, ytd-guide-entry-renderer, .ytd-menu-renderer, button, #description, #description:focus, #description:hover, ytd-menu-popup-renderer, #comment-chip-container, .ytp-popup, .ytd-popup-container, #container, ytd-engagement-panel-section-list-renderer, #thumbnail, #sync-button {
		border-radius: 0 !important;
	}*/
@-moz-document domain(youtube.com) {
	/* Modifies youtube to not have all those new rounded elements cause bad */

	/* Unrounds elements except dots and profile pictures */
	.style-scope:not(#avatar-btn, yt-img-shadow, #newness-dot, #active-indicator), button, .ytp-popup, .ytd-popup-container {
		border-radius: 0 !important;
	}

	.button.style-scope.ytd-text-inline-expander#expand, .button.style-scope.ytd-text-inline-expander#collapse {
		color: #00adee !important;
	}

	#description, #description:hover  {
		background-color: #111111 !important;
	}
	/*
	#avatar-btn, yt-img-shadow {
		border-radius:999px !important;
	}*/

}

@-moz-document domain(canvas.unl.edu) {
	/* body {
		background: #f9a url(img/nebula15.jpg) center !important;
		background-attachment: fixed !important;
	} */
	.large.ic-Dashboard-header__layout, #context_modules_sortable_container, .header-bar, #breadcrumbs {
		background-color: transparent !important;
	}

	.ig-header {
		border-radius: 0.25rem !important;
	}
}

@-moz-document domain(github.com) {
	#repository-container-header, .application-main > div {
		background-color: transparent !important;
	}

	body {
		background: #f9a url(img/nebula12.jpg) center !important;
		background-attachment: fixed !important;
	}
}

@-moz-document domain(search.kvan.dev){
	.title, footer, #links_on_top {
		visibility: hidden;
	}
}

@-moz-document domain(canvas.unl.edu), domain(shib.unl.edu) {
	body {
		background: #f9a url(img/nebula18.jpg) center !important;
		background-color: rgba(0,0,0,0.3) !important;
		background-attachment: fixed !important;
	}
}

@-moz-document domain(app.slack.com) {
	
	body {
	/*	background: #f9a url(img/nebula12.jpg) center !important; */
		background: no-repeat center  url(img/sapphire.jpg) !important; 
		background-attachment: fixed !important;
		background-size: cover !important;
		--sk_primary_foreground: 209,210,211;
		--sk_primary_background: 8, 74, 32 !important;
		--sk_inverted_foreground: 8, 74, 32 !important;
		--sk_inverted_background: 209,210,211;
		--sk_foreground_max: 232,232,232;
		--sk_foreground_high: 232,232,232;
		--sk_foreground_mid: 232,232,232;
		--sk_foreground_low: 232,232,232;
		--sk_foreground_soft: 232,232,232;
		--sk_foreground_min: 232,232,232;
		--sk_foreground_max_solid: 171,171,173;
		--sk_foreground_high_solid: 129,131,133;
		--sk_foreground_mid_solid: 81,84,87;
		--sk_foreground_low_solid: 53,55,59;
		--sk_foreground_soft_solid: 36,39,42;
		--sk_foreground_min_solid: 4, 36, 16 !important;
		--sk_highlight: 29,155,209;
		--sk_highlight_hover: 64,179,228;
		--sk_highlight_accent: 29,155,209;
		--sk_secondary_highlight: 242,199,68;
	}
	.p-theme_background, .c-scrollbar__hider, .p-view_contents--primary, .workspace__primary_view_footer {
		background: transparent !important;
	}
	.p-client_workspace {
		margin: 2em !important;
	}
	.p-view_contents--primary {
		margin-left: 1em !important;
	}
	.p-view_contents--sidebar {
		margin-right: 1em !important;
		border-right: 0px !important;
	}
	.p-resizer {
		display: none !important;
	}
	.p-client_workspace__layout {
		border: 0px !important;
	}
	.p-view_contents--primary, .p-view_contents--sidebar {
		border-radius: 6px !important;
		background-color: rgba(0,0,0,0.3) !important;
	}
	.p-view_header {
		border-top-left-radius: 6px !important;
	}
	.workspace__primary_view_footer {
		border-bottom-left-radius: 6px !important;
	}
	.p-client_container {
		background-color: rgba(0,0,0,0.6) !important;
	}
	.c-message_kit__background.c-message_kit__message  {
		border-radius: 6px !important;
		margin: 10px !important;
	}
	.p-degraded_list__loading, .c-message_kit__background.c-message_kit__message {
		background: inherit !important;
	}
	.p-bookmarks_bar {
		border-bottom-left-radius: 6px !important;
		border-bottom-right-radius: 6px !important;
	}
	.c-message_list__day_divider {
		/*display: none !important;*/
		visibility: hidden !important;
	}
}
